.div {
    width: 1200px;
    height: 70px;
    border: 2px solid green;
    margin: 20px auto;
    border-radius: 60px;
    background-color: rgb(46, 80, 46);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;
}

h2 {
    color: white;
    margin: 0;
    padding-left: 10px;

}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 15px;
}

li {
    display: inline-block;
}

li a {
    color: white;

    font-size: 18px;

    border-radius: 5px;
}

li a:hover {
    color: rgb(238, 238, 46);
    /* color: black; */
}

.home {
    margin-right: 30px;

}

.services {
    margin-right: 30px;
}

.about {
    margin-right: 30px;
}

.projects {
    margin-right: 200px;
}

.k {
    width: 50px;
    height: 50px;
}

.logo-container {
    display: flex;
    align-items: center;
}

.div1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 50px;
    background-color: white;
    align-items: center;
    justify-content: center;
    margin-left: 60px;
}

.div2 {
    text-align: left;
    padding: 20px;
    font-size: x-large;
}

.div3 {
    /* display: flex; */
    /* justify-content: center; */
    align-items: left;
}

.div3 img {
    width: 500px;
    height: auto;
/* border: 1px solid black; */
    border-radius: 400px;
}

.btn {
    width: 150px;
    height: 40px;
    background-color: rgb(46, 80, 46);
    border-radius: 60px;
    color: white;
    font-size: medium;
}

.btn1 {
    width: 150px;
    height: 40px;
    background-color: rgb(46, 80, 46);
    border-radius: 60px;
    color: white;
    font-size: medium;
}

.div4 {
    width: 1200px;
    height: 70px;
    border: 2px solid green;
    margin: 20px auto;
    border-radius: 60px;

    background-color: rgb(46, 80, 46);
    /* transform: rotate(-1deg); */
    /* display: inline-block; */
}

.div5 {
    width: 1200px;
    height: 70px;
    border: 2px solid yellow;
    margin: 20px auto;
    transform: rotate(1deg);
    background-color: yellow;
    margin-top: -90px;
    border-radius: 60px;
    display: flex;
    align-items: center;

    padding: 0 20px;

}
.div6{
    display: flex;
    margin-left: 140px;
}
.div8{
    width: 190px;
    height: 40px;
    background-color: rgb(46, 80, 46);
    border-radius: 60px;


}
.div9{
    width: 140px;
    height: 40px;
    border-radius: 60px;
    background-color: yellow;
    align-items: center;
    display: flex;
    
}

.div9 h4{
    font-size: medium;
    margin-left: 7px;
}
.div8 img{
    width: 35px;
    height: 35px;
    float: right;
    margin-top: 4px;
    margin-right: 4px;
}
.div7{
/* position: absolute; */
float: right;
margin-top: -150px;
margin-right: 180px ;
}
.div-1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
padding: 40px;

}
.div-2{
    width: 300px;
    height: 200px;
    border: 2px solid black;
    border-color: gray;
    background-color: rgb(210, 206, 206);
    margin-left: 130px;
    border-radius: 30px;
}
.div-3{
    width: 300px;
    height: 200px;
    border: 2px solid black;
    border-color: gray;
   
    background-color: rgb(210, 206, 206);
    margin-left: 85px;
    border-radius: 30px;
}
.div-4{
    width: 300px;
    height: 200px;
    border: 2px solid black;
    border-color: gray;
 
    background-color: rgb(210, 206, 206);
    margin-left: 40px;
    border-radius: 30px;

}
.div-2 img{
    width: 40px;
    height: 40px;
    margin-top: 10px;
    margin-left: 15px;
    border-radius: 20px;
    background-color: white;
    
}
.div-3 img{
    width: 40px;
    height: 40px;
    margin-top: 10px;
    margin-left: 15px;
    border-radius: 20px;
    background-color: white;

}
.div-4 img{
    width: 40px;
    height: 40px;
    margin-top: 10px;
    margin-left: 15px;
    border-radius: 20px;
    background-color: white;
}
.div-5{
    width: 100%;
    height: 650px;
    background-color: rgb(46, 80, 46);
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: 1fr 1fr;

}
.div-6{
   margin-left: 100px;
   margin-top: 100px;
}
.div-6 img{
    width: 450px;
    height: 450px;
    border-radius: 250px;
    
}
.a{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 50px;

}
.b h3{
    color: white;
}
.c h3{
    color: white;
}
.d h3{
    color: white;
}
.f{
    width: 190px;
    height: 40px;
   
    background-color: yellow;
    border-radius: 60px;


}
.g{
    width: 145px;
    height: 40px;
    border-radius: 60px;
    /* margin-top: 10px; */
   
    background-color: rgb(46, 80, 46);
    align-items: center;
    display: flex;
    
}

.g h4{
    font-size: medium;
    margin-left: 15px;
    color: white;
}
.f img{
    width: 35px;
    height: 35px;
    float: right;
    margin-top: 4px;
    margin-right: 4px;
}
.e{
/* position: absolute; */
float: left;
margin-top: 10px;
margin-right: 180px ;
}